/*.container {*/
/*width: 50%;*/
/*float: left;*/
/*min-height: 500px;*/
/*border: 3px solid brown;*/
/*background-color: #afd9ee;*/
/*}*/

.main-image-wrp {
    width: 400px;
    height: 400px;
    /*margin: 0 auto;*/
    position: relative;
}

.editable-zone {
    width: 200px;
    height: 300px;
    border: 1px solid red;
    z-index: 999;
    left: 10px;
    position: absolute;
}

.draggable-zone {
    width: 100%;
    height: 100%;
    position: relative;
}

.box {
    float: left;
}

.react-resizable {
    position: relative;
    background: red;
}

.react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
    background-position: bottom right;
    padding: 0 3px 3px 0;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    cursor: se-resize;
    z-index: 100;
}

.selected {
    border: 1px dotted #2e2e2e;
}

/*actual design css*/
.design-page {
    margin: 0 auto;
    /*width: 56em;*/
    /*max-width: 120em;*/
}

.workspace-wrp {
    /*margin: 0 auto;*/
    /*width: 100%;*/
}

.option-container {
    background: navajowhite;
    width: 40%;
    height: 500px;
    float: left;
}

.canvas-container {
    background: cornflowerblue;
    width: 60%;
    height: 500px;
    float: left;
}

.canvas-wrp {
    width: 90%;
    height: 62%;
    background: #fff;
    margin: 20px auto;
    position: relative;
}

.canvas {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    /*background-image: url("../images/galaicha.jpg");*/
}

.valid-area {
    /*top: 10px;*/
    left: 50px;
    width: 510px;
    height: 309px;
    border: 2px dashed #fff;
    position: absolute;
}

.design-wrp {
    left: 50px;
    width: 510px;
    height: 310px;
    position: absolute;
}

.close-btn {
    display: none;
}

.selected .close-btn {
    top: -30px;
    left: -30px;
    display: block;
    cursor: pointer;
    position: absolute;
}






